body{background-color: pink}
h1 {text-align: center;
	font-size: 25pt;
}
hr {
	color:black;
	position: center;
	width: 70;
	size: 3
}
}
li{
	font-size: 20pt;
	color:black
}
a {
	color:gray;
}
th {
	background-color: white;
	font-weight: bold;
}
td {
	background-color: white;
	text-align: center;
	color:black;
	font-size: 10pt;
}
caption {font-size: 20pt;}
